---
import { getCollection, render } from "astro:content";
import Comment from "./Comment.astro";

interface Props {
  postId: string;
}
const { postId } = Astro.props;

const allComments = await getCollection("comments");
const postComments = allComments
  .filter((c) => c.id.startsWith(postId + "/"))
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime());
---

<hr />
<section class="comments">
  <h2>comments</h2>
  {postComments.length === 0 && <p class="no-comments">no comments yet</p>}
  {
    postComments.map(async (c) => {
      const { Content } = await render(c);
      return (
        <Comment author={c.data.author} date={c.data.date} url={c.data.url}>
          <Content />
        </Comment>
      );
    })
  }

</section>
