---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <span class="site-prompt">~ / blog</span>
  <div class="header-right">
    <Navigation />
    <ThemeIcon />
  </div>
</header>
<hr class="header-rule" />
